$query-sm: 600px;

.chat-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 375px;
  border: 2px solid grey;
  overflow: hidden;
  height: 600px;
  max-height: 600px;
  top: 74px;
  background: #FFFFFF;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  z-index: 1202;

  @media (max-width: $query-sm) {
    max-height: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
  }

  .hidden {
    display: none;
  }

  &.openChat {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  &.closeChat {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.room-list-wrapper {
  .room-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid grey;

    .chat-icon-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      p {
        margin: 0 0 0 10px;
        font-weight: bold;
      }
    }

    .room-list-content {
      height: 540px;
    }
  }

  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid grey;
  }
}
