.mainCodediv {
	width: 100%;
	display: flex;	
	align-items: center;
	justify-content: center;
	margin-top: 3%;
}

.invite-link {
	max-width: 500px;
	margin: 10px auto;
	padding: 0px 10px;
	padding-top: 10px;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.12), 0px 8px 10px 1px rgba(0, 0, 0, 0.05), 0px 3px 14px 2px rgba(0, 0, 0, 0.04);
	.link-heading {
		font-weight: bold;
		font-size: 63px;
		line-height: 74px;
		text-align: center;
		color: #43D4DD;
		margin-bottom: 20px;
		width: 100%;
	}
	.top-section {
		text-align: center;
		img {
			max-width: 100px;
			margin: 0 auto;
			margin-bottom: 20px;
		}
		p {
			font-weight: 700;
			font-size: 25px;
			line-height: 29px;
			text-align: center;
			color: #364954;
			margin-bottom: 20px;
		}
	}
	.tribe-back{		
font-weight: 700;
font-size: 20px;
color: #A6A6A6;
background: transparent;
border: none;
margin-bottom: 25px;
	}
	.main-link-section {
		padding: 0 10px;
		p {
			font-weight: normal;
			font-size: 27px;
			line-height: 32px;
			color: #364954;
			margin-bottom: 5px;
		}
		span {
			font-size: 30px;
			line-height: 35px;
			font-weight: 700;
		}
		h2 {
			font-weight: 700;
			font-size: 67px;
			line-height: 79px;
			color: #364954;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.link-tribleClass {
			margin: 40px 0;
		}
	}
	.linkbtn {
		background: #43D4DD;
		border: 1px solid #EAEAEB;
		box-sizing: border-box;
		box-sizing: border-box;
		color: #fff;
		width: 100%;
		margin-bottom: 20px;
		min-height: 46px;
		span {
			font-size: 20px;
		}
		&:hover {
			text-decoration: none;
			background-color: #43D4DD;
		}
	}
	.MuiInputLabel-outlined {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #A6A6A6;
}
	.linkbtn1 {
		background: #C4C4C4;
		border: 1px solid #EAEAEB;
		box-sizing: border-box;
		box-sizing: border-box;
		color: #fff;
		width: 100%;
		min-height: 46px;
		margin-bottom: 25px;
		span {
			font-size: 20px;
		}
		&:hover {
			text-decoration: none;
			background-color: #C4C4C4;
		}
	}
	.main-joincode-section {
		.GOlinkbtn {
			background: #75CF6D;
			height: 60px;
			border-color: #75CF6D;
			border-radius: 15px;
			span {
				font-size: 36px;
				line-height: 42px;
				text-align: center;
				color: #FFFFFF;
			}
		}
		.invite-code {
			display: flex;
			align-items: center;
			padding: 0 30px;
			margin-bottom: 25px;
		}
		h3 {
			font-size: 25px;
			line-height: 29px;
			text-align: center;
			color: #364954;
			font-weight: 700;
			margin-bottom: 20px;
		}
	}
	input {
		font-size: 20px;
		font-weight: 700;
	}
	fieldset {
		border: 3px solid #43D4DD;
		background: rgba(240, 238, 238, 0.5);
		border-radius: 15px;
	}
	.codeB {
		background: rgba(240, 238, 238, 0.5);
		;
		margin: -10px;
		padding: 20px;
	}
}

.lbl-name{
	text-transform: capitalize;
}