.manage-frnd {
	
	padding: 24px;
	flex-grow: 1;
	min-height: 100vh;
	.main-manu {
		background: #FFFFFF;
		border: 5px solid #43D4DD;
		box-sizing: border-box;
		border-radius: 25px;
		position: relative;
        padding: 0 40px;
		&::before {
			content: "";			
			width: 78px;
			height: 78px;
			position: absolute;
			z-index: 9;
			top: 35px;
			left: -44px;
			border-radius: 50%;
			background: url(../../assets/icons/tribe/homeicon.png) top no-repeat;
		}
	}
	
	.title {
		font-weight: bold;
		font-size: 29px;
		line-height: 34px;
		color: #d3006e;		
		margin-bottom: 0;
        margin-top: 5px;
	}
   .manage-frnd-btn button {
				min-width: 195px;
				// height: 46px;				
				border-radius: 40px;
				font-weight: 700;
				font-size: 20px;
				line-height: 33px;
				text-align: center;
				color: #FFFFFF;
				border: none;
                margin-top: 20px;
                margin-bottom: 20px;
                box-shadow: none;
				padding: 2px;
				img {
					margin-left: 10px;
				}
			}

	.read-more {
		width: 55px;
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -34px;
		margin-left: 34%;
		z-index: 9;
		background: #FFFFFF;
		border: 5px solid #43D4DD;
		box-sizing: border-box;
		border-radius: 50%;
	}
	.tribe-expandtext {
		p {
			font-size: 21px;
			line-height: 25px;		
			margin-top: 20px;
            margin-bottom: 40px;
		}
		ul {
			padding: 0 20px;
			margin-bottom: 20px;
			li {
				list-style-type: none;
				margin-bottom: 15px;
				font-size: 19px;
				line-height: 22px;
				strong {
					margin-right: 20px;
				}

			}
		}
		.expand-icontext {
			margin-bottom: 40px;
			.tribe-icon {
				margin-left: 30px;
			}
			
		}
	}
    .accept-btn{
		text-transform: uppercase;
        span{
             padding: 6px 90px;
    background: #43d4dd;
    z-index: 9;
    position: relative;
    font-size: 24px;
    top: -21px;
    right: 0;
    left: 60%;
    color: #fff;   
    cursor: pointer;
    font-weight: 700;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
        }
    }
.top-friend-btn {
    padding:20px;
    button{
        border: 2px solid #adadad;       
        color: #adadad;
        font-size: 20px;
        margin-right: 20px;
        font-weight: 700;
        padding: 2px 20px;
        span span{
            margin-right: 20px;
        }
		.totalFriend{
			margin-right: 0px;
		}
		.margin-main{
				margin-right: 40px;
		}
        .add-frnd-i{
    color: #d3006e;
    margin-right: 25px;
}
    }
    .dived {
    border: none ;
    font-size: 30px ;
}
}
.friend-tag span {
    background: #fbdd3f;
    border-radius: 40px;
    padding: 2px 12px;
    font-size: 17px;
}
.frnd-cancel {
	padding: 10px 8px;
    background: #fff;
    z-index: 11;
    position: relative;
    left: 26%;
    top: -32px;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 0;
	span{
		    padding: 8px 30px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
	}
}

}
section.add-remove {
    width: 494px;
    padding: 0 20px 20px;
    background: #FFFFFF;
    border: 2px solid #A6A6A6;
    border-radius: 15px;
	h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.not-nowBtn{
	padding: 6px 90px;
background: #43d4dd;
color: #fff;
cursor: pointer;
font-weight: 700;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
span{
	 font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}
}
.frnd-yesBtn{
    padding: 2px 8px;
    background: #fff;
    z-index: 11;
    border-radius: 50px;
    cursor: pointer;
    padding-left: 0;
    box-shadow: none;
    margin-right: -45px;
	label{
	padding: 8px 30px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
	margin-top: 3px;
	}
	
}

}
.accept-remove-container{
	text-align: center;
}
.addNote{
		font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #364954;
margin-bottom: 0;
padding: 0 12px;
	}
.Addfrnd-request{
	.MuiGrid-item {    
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.MuiBox-root{
	margin-top: 0;
	margin-bottom: 0;
}
.add-frndReq_btn{	
	button{		
background: #43D4DD;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
margin-top: 20px;
	}
}
.reg-happy{
	img{
	float: right;
width: 30px;
}
}
.sentmailReq{
	img{
		z-index: 99;
		padding-right:5px;
		height: 43px;
	}
}
input, textarea{
	font-weight: bold;
font-size: 24px;
line-height: 28px;
color: rgba(196, 196, 196, 0.83);
}
.MuiOutlinedInput-notchedOutline {
  border: 2px solid rgba(196, 196, 196, 0.5);
border-radius: 25px;
    background: #fff;
}
h1 {
    font-size: 26px;
    margin-bottom: 40px;
}
.errormsg {
   font-size: 14px;   
    color: #A6A6A6;
    margin:0;
    padding-left:20px;
	font-weight: bold;
}
.frnd-checkbox{
	padding: 10px 20px;
}
}
.add-remove-succes{
	h1{
		color: #75CF6D !important;
	}
	p{
		font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #364954;
	}
	.successBtn{
		background: rgba(196, 196, 196, 0.49);
border: 2px solid rgba(196, 196, 196, 0.5);
border-radius: 50px;
padding: 10px 40px;
box-shadow: none;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #FFFFFF;
font-weight: 700;
&:hover{
		background: rgba(196, 196, 196, 0.49);
		border: 2px solid rgba(196, 196, 196, 0.5);
}
}
}
.frnd-drpBtn{
	text-align: right;
	img{
		width: 14px;
		padding: 4px;
		cursor: pointer;
	}
}
.unfriend-Btn{
	text-align: right;
	position: absolute;
right: 40px;
top: 40px;
	button{
		border: 4px solid #D50073;
border-radius: 25px;
background: #fff;
font-weight: bold;
font-size: 26px;
line-height: 28px;
text-align: center;
padding: 12px 36px;
color: #000;
&:hover{
	border: 4px solid #D50073;
border-radius: 25px;
background: #fff;
}
	}
}