.main-pro-page{
  padding: 24px 0;
  flex-grow: 1;
  min-height: 100vh;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  .header-new-row.training-head {
    margin-bottom: 10px;
    margin-top: 10px;
}
.projecttable {
    display: flex !important;
}
.header-new-row {
    margin-top: 8px;
}
  .test-div {
      width: 20px;
      height: 20px;
      border: 1px solid #000000;
      margin: 0 auto;
  }
  .progess-page {
      display: flex;
      align-items: center;
      margin-top: 40px;
     background: rgba(240, 238, 238, 0.88);
border-radius: 35px;
padding: 10px 20px;
  }
 
  .project-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2{
          font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #43D4DD;
  margin-bottom: 0;
      }
       span{
          background: #FBDD3F;
  width: 20px;
  text-align: center;
  height: 20px;
  border-radius: 50%;
  
      }
  }
  .project-heading {
      display: flex;
      align-items: center;
      button {
      background: transparent;
      border: none;
  }
     
  }
  .name-header {
    width: 260px;
}
  .project-div.project-div-close {
    background: #fff;
    border: 2px solid #43D4DD;
}
.tranee-firstName, .tranee-lastName{
  text-align: left;
  font-weight: bold;
font-size: 18px;
line-height: 21px
}
  .project-div {
  max-width: 700px;
  width: 100%;
 background: #F1F0F0;
border: 2px solid #43D4DD;
box-sizing: border-box;
border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  }
  .progress-name {
      padding: 20px 10px;
  }
  .main-project-div{
      .table {
      display: table;
      text-align: center;
      width: 100%;   
      border-collapse: separate;   
    }
    
    .table_row {
      display: table-row;
    }
    
    .theader {
      display: table-row;
    }
    
    .table_header {
      display: table-cell;   
      color: #000;
      padding-top: 10px;
      padding-bottom: 0;
      font-weight: 700;
  
    }
    
 
    
    .table_small {
      display: table-cell;
      padding: 5px;
    }
    
   .MuiBox-root {
    width: 100%;
    overflow-x: auto !important;
}

    
    .table_row > .table_small > .table_cell {
      padding-top: 3px;
      padding-bottom: 3px;
      color: #5b5b5b;
      border-bottom: #ccc 1px solid;
    }
    
    .table_row > .table_small:first-child > .table_cell {
      border-left: #ccc 1px solid;
    }
    
    .table_row > .table_small:last-child > .table_cell {
      border-right: #ccc 1px solid;
    }
    
    .table_row:last-child > .table_small:last-child > .table_cell:last-child {
      border-bottom-right-radius: 5px;
    }
    
    .table_row:last-child > .table_small:first-child > .table_cell:last-child {
      border-bottom-left-radius: 5px;
    }
    .header-table {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
 
  .header-new-row {
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
   .table_big {
      width: 80px;
  }
  
  }
  .MuiLinearProgress-colorPrimary {
      background-color: #C4C4C4;     
  }
  .MuiLinearProgress-root{
  height: 20px;
  }
  .MuiLinearProgress-barColorPrimary{
      background-color: #75CF6D;  
  }
  }
  .yellow{
      background-color: #FBDD3F;
  }
  .blue{
      background-color: #0198ED;
  }
  .main-project-div-close{
      .theader {
      display: none !important;
  }
  .table_small {
      display: none !important;
  }
  .header-new-row {
      display: none !important;
  }
  .table_big.table_small {
      display: block !important;
      width: 100%;
  }
  }
  .project-div.project-div-close {
      width: 230px;
     
  margin-right: 15px;
  margin-left: 15px;
 
      .project-heading {
      display: block;
    
  }
  .project-head span{
      position: relative;
  top: -15px;
  }
  }
  .progress-name{
      .table {
      display: table;
      text-align: center;
      width: 100%;   
      border-collapse: separate;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
    .name-head{
      text-align: left;
    }
    
    .table_row {
      display: table-row;
    }
    
    .theader {
      display: table-row;
    }
    
    .table_header {
      display: table-cell;   
      color: #000;
      padding: 20px;
      font-weight: 700;
          // border-bottom: 2px solid #d6d6d6;
padding-bottom: 10px;
text-align: center;
    }
    .table_small {
      display: table-cell;
        
    }
    .table_row > .table_small > .table_cell {
      color: #5b5b5b;
       max-width:120px !important;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;   
              margin: 8px 0 0 5px;
              font-weight: bold;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
      
    }
    .form-group {
    display: block; 
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background: #FFFFFF;
  border: 3px solid #A6A6A6;
  box-sizing: border-box;
  border-radius: 3px;  
     padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: 'X';
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 14px;
    border-width: 0 2px 2px 0;
  
  }
    
  }
  .header-table-close{
      display: none !important;
  }
  .header-new-row-close{
      display: none !important;
  }

  .default-layout {  
    overflow-x: auto;
}
.project-div-close{
 h2{
  font-size: 17px;
line-height: 24px;
font-weight: 700;
color: #43D4DD;
margin-bottom: 0;
text-align: center;
display: block;
    max-width: 185px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;

}
.project-heading h2 {
    display: none;
}
}
.pcoloseheading{
  display: none;
}

.project-slect{
  margin-top: 20px;
.select-header {
    display: flex;    
    align-items: center;
}
.slt-btn{
  button {
    background: transparent;
   border: 2px solid #A6A6A6;
box-sizing: border-box;
border-radius: 6px;
padding: 10px 20px;
color: #43D4DD;
font-weight: bold;
font-size: 22px;
line-height: 24px;
min-height: 50px;
min-width: 90px;
}
}
.projectslect{
  margin: 0 10px;
  display: flex;
  background: transparent;
border: 2px solid #A6A6A6;
box-sizing: border-box;
border-radius: 6px;
width: 400px;
.MuiInputLabel-formControl{
  top: -9px;
    font-weight: bold;
font-size: 22px;
line-height: 24px;
color: #43D4DD;
}
button{
  background: transparent;
  box-sizing: border-box;
  border: none;
  font-weight: bold;
font-size: 22px;
line-height: 24px;
color: #43D4DD;
}
  .MuiFormControl-root{
    width: 400px;
  }
}
.nextpevselect{
   button {
    background: transparent;
   border: 2px solid #A6A6A6;
box-sizing: border-box;
padding: 10px 12px;
margin: 0 -1px;
}
.nextslect {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.prevslect {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

}
.MuiFilledInput-root{
     background: transparent;
   border: none;
box-sizing: border-box;
border-radius: 6px;
max-height: 46px;
}
.MuiFilledInput-underline::before{
  border-bottom: none;
}
.MuiSelect-selectMenu{
  letter-spacing: 0.15px;
color: #43D4DD;
font-weight: bold;
font-size: 17px;
line-height: 24px;
}
}
.main-project-div-close .project-slect {
    display: none;
}
.table-close-row {
    display: none !important;
}
.project-open {
    margin-top: 10%;
}
  .prj1{
     .MuiFilledInput-input {
    padding: 11px 12px 10px;       
}
   }
   .tbscimg {
    visibility: hidden;
}
