.registration{
    margin: 15vh auto;
    &_main{
       width: 380px;  
       padding: 10px 15px;
       background: #fff;   
       box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.12), 0px 8px 10px 1px rgba(0, 0, 0, 0.05), 0px 3px 14px 2px rgba(0, 0, 0, 0.04);
       
    }
    &_title{
        h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #000000;
        }
        span{
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: #000000;
            display: block;
            margin-top: -10px;
        }
    }
    .Dob-section{    
        margin-top: 12px;  
        .Dob_title{
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #000000;
            margin-bottom: 6px;
        }
    }
    button{
        background: #43D4DD;
        max-height: 61px;
        margin-top: 20px;
        border-radius: 0;
        span{
            display: block;
            .reg-happy{
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                margin: 10px 0;
            }
            .reg{
                font-weight:700;
                font-size: 11px;
                line-height: 13px;
                text-align: center;
                margin: 10px 0;
         }
        }
    }
    .reg-checkbox{
        .MuiTypography-body1{           
            font-size: 18px;
            line-height: 21px;
            color: #364954;
            padding: 2px 10px;
            font-weight: 700;
        }
    }
    .active{
        .MuiTypography-body1{        
        background: #FBDD3F;
        }
    }
    .letlogin{
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #364954;
        a{                     
            color: #d40073;
        }
    }
    .MuiOutlinedInput-notchedOutline{
        border-color: transparent;
        background: #EAEAEB;
    }
    .MuiOutlinedInput-input{
        z-index: 9;
    }
    .MuiInputLabel-outlined{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #364954;
    }
    .MuiFormControl-root{
        width: 100%;
        border-radius: 0;
    }
    .btm-lbl{
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #364954;
        margin-top: -5px;
        display: block;
    }
    .MuiFilledInput-root{
        border-radius: 0;
    }
   
}




