@media  only screen and (min-width: 1200px) and (max-width: 1600px) { 
    .manage-frnd .accept-btn span, .tribe-page  .accept-btn span {
    padding: 12px 60px !important;
    background: #43d4dd;
    z-index: 9;
    position: relative;
    font-size: 20px;
    top: -21px;
    right: 0;
    left: 40% !important;
    color: #fff;
    border-radius: 40px;
}
.manage-frnd .read-more , .tribe-page .read-more{
	margin-left: 25% !important;
}
.manage-frnd .top-friend-btn button span {
    margin-right: 0px;
}
.manage-frnd .tribe-expandtext ul li{
	font-size: 15px;
}
.manage-frnd .title-text {
    font-size: 14px;
}
.manage-frnd .tribe-expandtext ul li span {   
    font-size: 16px;
   
}
.manage-frnd .tribe-expandtext ul li strong {
    margin-right: 2px !important;
}
.manage-frnd .tribe-expandtext ul {
    padding: 0 10px !important;   
}
}
@media only screen and (max-width: 1024px) {
	.tribe-page{
		width: 100%;
	}
.newpopupdiv button {
		background: #43D4DD;
		border-radius: 35px;
		min-width: 197px;
		margin-bottom: 20px;
		.new-tagsidebar {
			margin-right: 20px;
		}
	}
	.newpopupdiv span {
    margin-right: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}
.MuiListItemText-root span {
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 30px;
}.MuiListItemIcon-root img {
    width: 30px;
}
.main-progess-page{
overflow: scroll;
max-width: 800px;
width: 100%;
border-radius: 35px;
}


}

@media only screen and (max-width: 600px) {

	.tribe-page{
		.frnd-cancel {
    left: 10% !important;
	 span {
    padding: 5px 20px !important;
    font-size: 16px !important;
}
}
.accept-btn span{
	left: 0 !important;
	padding: 5px 50px !important;
font-size: 16px !important;
}
.read-more{
	margin-left: 2% !important;
	margin-top: -28px !important;
}
	}
	.manage-frnd{
		.pgeBG {
    margin-top: 20px;
	padding: 0 10px !important;
}
.accept-btn span{
	left:0 !important;
	padding: 5px 50px !important;
	font-size: 16px !important;
}
.frnd-cancel span{
	padding: 5px 20px !important;
	font-size: 16px !important;
}
.read-more{
	margin-left: 2% !important; 
	width: 40px !important;
height: 40px !important;
margin-top: -28px !important;
}
.frnd-cancel{
	left: 10% !important;
}
	}
	.unfriend-Btn button {
    font-size: 16px !important;
    line-height: 16px !important;   
}
section.add-remove {
    width: 330px !important;  
}
section.add-remove .frnd-yesBtn {   
    margin-right: -25px !important;
}
section.add-remove .not-nowBtn{
	padding: 6px 40px !important;
}
	.top-friend-btn {
    padding: 0 !important;
}
.top-friend-btn button {   
    font-size: 16px !important;
    margin-right: 5px !important;
    
}
.top-friend-btn button span span {
    margin-right: 10px !important;
}
.top-friend-btn button .totalFriend {
    margin-right: 0px !important;
}
.top-friend-btn button{
	padding: 2px 10px !important;
}
.top-friend-btn .dived {
    border: none;
    font-size: 30px !important;
    min-width: 0;
	padding: 0 !important;
}
.top-friend-btn img {
    width: 24px;
}

	.tribe-menu .pro-head{
		min-height: 13px !important;
		max-height: 43px !important;
	}
	.project-slect .MuiFilledInput-root{
		max-height: 36px !important;
		
	}
	.project-slect .projectslect{	
		min-height: 36px !important;
	}
	.main-pro-page .progess-page , .main-pro-page .progress-name{
		padding-left: 0 !important;
		padding-top: 0 !important;
	}
	.theader.project-header{
		.table_header{
			padding: 20px 6px !important;
			padding-bottom: 10px !important;
		}
	}
	.main-pro-page .MuiLinearProgress-root {
    height: 20px;
    width: 35px;
    margin: 0 auto;
}
.progress-name .table_row > .table_small > .table_cell{
	max-width: 75px !important;
}
.main-pro-page .name-header {
    width: 210px !important;
}
.project-slect .nextpevselect button{
	padding: 5px !important;
}
	.main-progess-page {   
    max-width: 500px;
    width: 100%;   
}
	.tribe-menu #slect-filled-label {  
    font-size: 18px !important;
    line-height: 22px !important;    
	top:-14px !important
}
.tribe-menu .tribe-project .MuiFilledInput-input {
    padding: 8px 12px 11px !important;   
}
	.main-pro-page .progess-page{
		background: #ffff !important;
		margin-top: 0 !important;
	}

	.tribe-menu .MuiFormControl-root {
    width: 220px !important;
}
.tribe-menu .tribe-grid {
    width: 60px !important;
    height: 42px !important;
	margin-left: 0 !important;
}
.tribe-menu .headPicon{
	height: 44px !important;
	margin-left: 10px;
}
.project-slect .slt-btn button{
  padding: 6px 8px !important;
font-size: 20px !important;
min-height: 40px !important;
}
.project-slect .projectslect{
  width: 240px !important;
}

	header {
		background: red;
		.MuiIconButton-label img {
			width: 20px;
			width: 100%;
		}
		.headerlogotext {
			font-style: normal;
			font-weight: normal;
			font-size: 26px;
			line-height: 48px;
			color: #000000;			
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100px;
		}
		.headermenubutton {
			left: 0;
			z-index: 999;
		}
	 .headhomeiocn {
    padding-left: 0px;
    margin-bottom: 5px;
}
	}
	
	.tribe-page{
		width: 100%;
	}
	.page-divid .pgeBG {
		background: transparent;
		border-radius: 35px;
		padding: 0 30px;
	}
	.commonheight {
		min-height: 75px;
	}
	.tribe-mainheading {
		margin-bottom: 25px;
	}
	.tribe-page .main-manu::before {
		top: -15px;
	}
	.tribe-page .title {
		margin-bottom: 0;
		margin-top: 10px;
		font-size: 24px;
	}
	.tribe-page .main-manu {
		min-height: 150px;
	}
	.tribe-page .tribe-icon {
		margin-left: 0;
		margin-bottom: 25px;
	}
	.tribe-page .tribe-expandtext .expand-icontext button {
		min-width: 120px;
		font-size: 18px;
		height: 35px;
	}
	.tribe-page .tribe-expandtext .expand-icontext .tribe-icon {
		margin-left: 11px;
	}
	footer {
		display: flex !important;
	}
	.tribe-page .tribe-icon {
		max-width: 50px;
		height: 35px;
	}
	.tribe-page .coverage {
		max-width: 25px;
		width: 100%;
	}
	.tribe-page .read-more {
		width: 40px;
		height: 40px;
	}
	.nav-slide {
		margin-bottom: 15px;
	}
	.tribe-page .tribe-expandtext p {
		font-size: 18px;
		line-height: 23px;
		margin-left: 10px;
		margin-top: 0px;
	}
	.main {
		margin-bottom: 80px;
	}
	.tribe-profile .tribe-header::before {
		max-width: 80px;
		height: 80px;
		width: 100%;
		top: 67%;
		left: 42%;
		background: url(../../assets/icons/tribe/mobphome.png) top no-repeat;
		background-color: #fff;
		padding: 20px !important;
	}
	.sumbtCodebtn {
		font-size: 16px !important;
	}
	.TribeP #content {
		margin-top: 20px;
	}
	.MuiContainer-root {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.tribe-profile .tribe-header h1 {
		font-size: 32px;
	}
	.tribe-profile .tribe-header {
		min-height: 160px;
	}
	.newpopupdiv button {
		background: #43D4DD;
		border-radius: 35px;
		min-width: 197px;
		margin-bottom: 20px;
		.new-tagsidebar {
			margin-right: 20px;
		}
	}
	
	.tribe-page .tribe-expandtext .expand-icontext button img {
		margin-left: 20px;
		max-width: 20px;
	}
	.TribeP {
		margin-top: 10px;
	}
	.tribe-profile .edit-icon {
		margin-right: 12px;
		margin-top: 34px;
		img {
			max-width: 100%;
			width: 28px;
		}
	}
	.TribeP #content {
		box-shadow: none;
	}
	.invite-link .main-link-section h2 {
		font-size: 40px;
	}
	.invite-link .link-heading {
		font-size: 40px;
	}
	.invite-link .top-section p {
		font-size: 16px;
	}
	.invite-link .linkbtn1 span {
		font-size: 16px;
	}
	.invite-link .main-link-section p {
		font-size: 20px;
	}
	.newpopupdiv span {
		margin-right: 20px;
		font-weight: 700;
		font-size: 24px;
		color: #000000;
	}
	.tocodepopupdiv span {
		margin-right: 20px;
		font-weight: 700;
		font-size: 24px;
		color: #fff;
	}
	.MuiListItemText-root span {
		font-weight: 700 !important;
		font-size: 22px !important;
		line-height: 30px;
	}
	.MuiListItemIcon-root img {
		width: 30px;
	}


}
@media only screen and (max-width: 440px) {
	.project-slect .slt-btn button {
    padding: 6px 4px !important;
	font-size: 16px !important;
}
.project-slect .slt-btn button img {
    width: 14px !important;  
}
.prj1 .MuiFilledInput-input {
    padding: 8px 5px 10px !important;
	font-size: 15px !important;
}

.tribe-menu .tribe-grid img {
    margin-top: 8px !important;
    width: 22px !important;
}
.tribe-menu .tribe-grid {
    width: 50px !important;
}
.project-slect .slt-btn button{
		min-width: 65px !important;
	}
}
@media only screen and (max-width: 420px) {
	.codpage #wrapper #codeform {
    margin: 25px 5px 0 !important;
   
}
	.main-pro-page .progess-page{
		margin-top: 0 !important;
		padding-left: 0 !important;
	}
.main-pro-page .progress-name {
    padding: 20px 25px;
    margin-right: 90px;
}
.tribe-menu .MuiFormControl-root {
    max-width: 240px !important;
    width: 200px !important;
}

}
@media only screen and (max-width: 400px) {
	.project-slect .projectslect {
    width: 215px !important;
}
.tribe-menu .MuiFormControl-root {
    max-width: 240px !important;
    width: 190px !important;
}
.project-slect .MuiSelect-selectMenu{
	width: 160px;
}

}