@media  only screen and (min-width: 1200px) and (max-width: 1600px) { 
    .manage-frnd .accept-btn span {
    padding: 12px 60px !important;
    background: #43d4dd;
    z-index: 9;
    position: relative;
    font-size: 20px;
    top: -21px;
    right: 0;
    left: 40% !important;
    color: #fff;
    border-radius: 40px;
}
.manage-frnd .read-more{
	margin-left: 25% !important;
}
.manage-frnd .top-friend-btn button span {
    margin-right: 0px !important;
}
.manage-frnd .tribe-expandtext ul li{
	font-size: 15px;
}
.manage-frnd .title-text {
    font-size: 14px;
}
.manage-frnd .tribe-expandtext ul li span {   
    font-size: 16px;
   
}
.manage-frnd .tribe-expandtext ul li strong {
    margin-right: 2px !important;
}
.manage-frnd .tribe-expandtext ul {
    padding: 0 10px !important;   
}
}
@media only screen and (max-width: 1024px) {
.newpopupdiv button {
		background: #43D4DD;
		border-radius: 35px;
		min-width: 197px;
		margin-bottom: 20px;
		.new-tagsidebar {
			margin-right: 20px;
		}
	}
	.newpopupdiv span {
    margin-right: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}
.MuiListItemText-root span {
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 30px;
}.MuiListItemIcon-root img {
    width: 30px;
}

}

@media only screen and (max-width: 600px) {
	header {
		background: red;
		.MuiIconButton-label img {
			width: 20px;
			width: 100%;
		}
		.headerlogotext {
			font-style: normal;
			font-weight: normal;
			font-size: 26px;
			line-height: 48px;
			color: #000000;			
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100px;
		}
		.headermenubutton {
			left: 0;
			z-index: 999;
		}
	 .headhomeiocn {
    padding-left: 0px;
    margin-bottom: 5px;
}
	}
	
	.tribe-page{
		width: 100%;
	}
	.page-divid .pgeBG {
		background: transparent;
		border-radius: 35px;
		padding: 0;
	}
	.commonheight {
		min-height: 75px;
	}
	.tribe-mainheading {
		margin-bottom: 25px;
	}
	.tribe-page .main-manu::before {
		top: -15px;
	}
	.tribe-page .title {
		margin-bottom: 0;
		margin-top: 10px;
		font-size: 24px;
	}
	.tribe-page .main-manu {
		min-height: 150px;
	}
	.tribe-page .tribe-icon {
		margin-left: 0;
		margin-bottom: 25px;
	}
	.tribe-page .tribe-expandtext .expand-icontext button {
		min-width: 120px;
		font-size: 18px;
		height: 35px;
	}
	.tribe-page .tribe-expandtext .expand-icontext .tribe-icon {
		margin-left: 11px;
	}
	footer {
		display: flex !important;
	}
	.tribe-page .tribe-icon {
		max-width: 50px;
		height: 35px;
	}
	.tribe-page .coverage {
		max-width: 25px;
		width: 100%;
	}
	.tribe-page .read-more {
		width: 40px;
		height: 40px;
	}
	.nav-slide {
		margin-bottom: 15px;
	}
	.tribe-page .tribe-expandtext p {
		font-size: 18px;
		line-height: 23px;
		margin-left: 10px;
		margin-top: 0px;
	}
	.main {
		margin-bottom: 80px;
	}
	.tribe-profile .tribe-header::before {
		max-width: 80px;
		height: 80px;
		width: 100%;
		top: 67%;
		left: 42%;
		background: url(../../assets/icons/tribe/mobphome.png) top no-repeat;
		background-color: #fff;
		padding: 20px !important;
	}
	.sumbtCodebtn {
		font-size: 16px !important;
	}
	.TribeP #content {
		margin-top: 20px;
	}
	.MuiContainer-root {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.tribe-profile .tribe-header h1 {
		font-size: 32px;
	}
	.tribe-profile .tribe-header {
		min-height: 160px;
	}
	.newpopupdiv button {
		background: #43D4DD;
		border-radius: 35px;
		min-width: 197px;
		margin-bottom: 20px;
		.new-tagsidebar {
			margin-right: 20px;
		}
	}
	.tocodepupupdiv button {
		background: #43D4DD;
		border-radius: 35px;
		min-width: 197px;
		margin-bottom: 20px;
		.tocode-tagsidebar {
			margin-right: 20px;
			font-weight: 700;
font-size: 20px;
		}
	}
	.tribe-page .tribe-expandtext .expand-icontext button img {
		margin-left: 20px;
		max-width: 20px;
	}
	.TribeP {
		margin-top: 10px;
	}
	.tribe-profile .edit-icon {
		margin-right: 12px;
		margin-top: 34px;
		img {
			max-width: 100%;
			width: 28px;
		}
	}
	.TribeP #content {
		box-shadow: none;
	}
	.invite-link .main-link-section h2 {
		font-size: 40px;
	}
	.invite-link .link-heading {
		font-size: 40px;
	}
	.invite-link .top-section p {
		font-size: 16px;
	}
	.invite-link .linkbtn1 span {
		font-size: 16px;
	}
	.invite-link .main-link-section p {
		font-size: 20px;
	}
	.newpopupdiv span {
		margin-right: 20px;
		font-weight: 700;
		font-size: 24px;
		color: #000000;
	}
	.tocodepopupdiv span {
		margin-right: 20px;
		font-weight: 700;
		font-size: 24px;
		color: #fff;
	}
	.MuiListItemText-root span {
		font-weight: 700 !important;
		font-size: 22px !important;
		line-height: 30px;
	}
	.MuiListItemIcon-root img {
		width: 30px;
	}
	.mt-ft-icon {
		padding: 4px;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		display: flex;
		background: #fff;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
		align-items: center;
		justify-content: center;
		img {
			width: 100%;
			max-width: 50px !important;
			margin-bottom: 2px;
			margin-left: 2px;
		}
	}
}