.sidebar{
    // .MuiDrawer-paperAnchorDockedLeft {     
    //     background: #FBDD3F;
    // }
    .MuiButtonBase-root{
        margin-bottom: 5px;
        padding: 5px 16px;
       
    }
    .MuiListItemText-root{      
        span{
            font-weight: 700 !important;
            font-size: 22px !important;
            line-height: 30px;
        }
    }
    .MuiListItemIcon-root{
        img {
            width: 30px;
        }
    }
   
}

header{
    background-color: #fff !important;   
    .MuiIconButton-label img {
        max-width: 30px;
    }
    .header-accont{
        width: 49px;
        height: 49px;        
        background: #43D4DD;
        border: 3px solid #FBDD3F;
        box-sizing: border-box;
    }
    .header-chat{
        width: 49px;
        height: 49px;
        background: #C4C4C4;
        border: 3px solid #364954;
        box-sizing: border-box;
    }
    .header-grid{
        width: 38px;
        height: 38px;
        margin: 0 20px;
    }
    .menubutton{
        background: red;
    }
    .headerlogotext{
        font-style: normal;
        font-weight: normal;
        font-size: 41px;
        line-height: 51px;
        color: #000000;
        margin-left: 40px;
    }
    .headermenubutton{
        width: 48px;
        height: 48px;
    }
    .MuiToolbar-regular {
        min-height: 74px;
    }
}
.tribe-page{
    width: calc(100vw - 240px);
    padding: 24px;
    flex-grow: 1;
    min-height: 100vh;
    .main-manu{
        background: #FFFFFF;
        border: 5px solid #43D4DD;
        box-sizing: border-box;    
        position: relative;  
        min-height: 200px;
        &::before {
            content: "";
            background: red;
            width: 78px;
            height: 78px;
            position: absolute;
            z-index: 99999;
            top: 35px;
            left: -44px;
            border-radius: 50%;
            background: url(../../assets/icons/tribe/homeicon.png) top no-repeat;
        }     
        
    }
    .tribe-icon {
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        text-align: center;
        width: 90.47px;
        height: 57.86px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
       
    }
    .title{
        font-weight: bold;
        font-size: 29px;
        line-height: 34px;
        color: #000000;
        margin-left: 20px;

    }
   .read-more {       
        width: 55px;
        height: 55px;        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        margin-left: -120px;
        z-index: 9;
        background: #FFFFFF;
        border: 5px solid #43D4DD;
        box-sizing: border-box;
        border-radius: 50%;
    }
    .tribe-expandtext{
        p{
            font-size: 21px;
            line-height: 25px;
            margin-left: 20px;
            margin-top: 20px;
        }
    ul{
        padding: 0 35px;
        margin-bottom: 20px;
        li{
            list-style-type: none;
            margin-bottom: 10px;
            font-size: 19px;
            line-height: 22px;
            strong{
                margin-right: 20px;
            }
        }
    }
    .expand-icontext{
        margin-bottom: 40px;
        .tribe-icon{
            margin-left: 30px;
        }
        button{
            min-width: 210px;
            height: 58px;
            background: #D50073;
            border-radius: 10px;
            font-weight: 700;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            img{
                margin-left: 20px;
            }

        }
    }
}
    
}
.main{
    display: flex;
    max-width: 100vw;
    overflow-x: hidden;
}
.makeStyles-headerIconCollapse-20 {
    color: #2b2525 !important;
}
.commonheight {
    min-height: 100px;
}
.nav-slide{
    margin-bottom: 40px;
}

.center-align-div{
    margin: 0 auto;
}

.default-layout{
    width: 100%;
}
.loader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}